[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "==1.5.*"
mkdocs-jupyter = "==0.24.*"
mkdocs-material = "==9.5.*"
black = {version = "==24.1.1", extras = ["jupyter"]}

[dev-packages]

[requires]
python_version = "3.11"
